# NOTE: The Docker client tries to load <dockerfile-name>.dockerignore first and
# then falls back to .dockerignore if it can't be found. So the followign line
# will first tries to load `Dockerfile.foo.dockerignore`.
#
# `docker build -f Dockerfile.foo .` 
# 
# See: https://stackoverflow.com/a/57774684/702912

dist
output
test_audio
.mypy_cache
.pytest_cache
.vscode

tag-klay-beam*
