[submodule "klay_beam/submodules/klay-data"]
	path = klay_beam/submodules/klay-data
	url = https://source.developers.google.com/p/klay-home/r/github_klay-music_klay-data
[submodule "klay_beam/submodules/klay-mtrpp"]
	path = klay_beam/submodules/klay-mtrpp
	url = https://source.developers.google.com/p/klay-home/r/github_klay-music_klay-mtrpp
