[submodule "klay_beam/submodules/klay-data"]
	path = klay_beam/submodules/klay-data
	url = git@github.com:klay-music/klay-data.git
[submodule "klay_beam/submodules/klay-mtrpp"]
	path = klay_beam/submodules/klay-mtrpp
  url = git@github.com:klay-music/klay-mtrpp.git
[submodule "klay_beam/submodules/klay-codecs"]
	path = klay_beam/submodules/klay-codecs
	url = git@github.com:klay-music/klay-codecs.git
[submodule "klay_beam/submodules/klay-config"]
	path = klay_beam/submodules/klay-config
	url = git@github.com:klay-music/klay-config.git
[submodule "klay_beam/submodules/klay-nac"]
	path = klay_beam/submodules/klay-nac
	url = git@github.com:klay-music/klay-nac.git
[submodule "klay_beam/submodules/klay-audiotools"]
	path = klay_beam/submodules/klay-audiotools
	url = git@github.com:klay-music/klay-audiotools.git
